<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Khai báo các quyền sử dụng (Cho Bài 6 và các Bài tập mở rộng) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Profile Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab3_TwoScreens">

        <!-- Màn hình chính MainActivity (EXPORTED = TRUE) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình chỉnh sửa EditProfileActivity (EXPORTED = FALSE) -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

    </application>

</manifest>